html {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    padding: 0 30px;
    align-items: center;
}

.nav h5 {
    font-size: 1.3rem;
    color: #1da1f2;
}

.nav-items {
    display: flex;
    margin-left: auto;
}

.nav-items li {
    list-style: none;
    padding: 20px;
}

.nav-items a {
    text-decoration: none;
    color: rgb(121, 116, 116);
}

#sign-in {
    width: 220px;
    height: 50px;
    background-color: #1da1f2;
    color: white;
    font-size: 1.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
    transition: all 1s;
}

#sign-in:hover{
    background-color: transparent;
    border: 2px #1da1f2 solid;
    color: #1da1f2;
    transform: scale(1.06);
}

.sidenav {
    display: none;
}

#bar {
    display: none;
}

.container {
    height: 80vh;
    /* background-color: rgb(211, 117, 117); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 h2 {
    font-size: 2.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 0, 0);
}

.item1 p {
    color: grey;
    margin-top: -20px;
}

.item2 img {
    width: 20rem;
    margin-left: 60px;
}

.buttons {
    display: flex;
}

#learn-more {
    width: 180px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
    background-color: transparent;
    color: #1da1f2;
    cursor: pointer;
}

#tweet {
    width: 220px;
    height: 50px;
    background-color: #1da1f2;
    color: white;
    font-size: 1.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
    transition: all 1s;
}

#tweet:hover {
    background-color: transparent;
    border: 2px #1da1f2 solid;
    color: #1da1f2;
    transform: scale(1.06);
}
.people {
    margin-top: 40px;
}

.people img {
   margin: -14px;
   /* border:  1px solid white; */
}

.people-text {
    margin-top: 40px !important;
}
.people-num {
    color: #1da1f2;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 40px; */
    padding: 0 370px;
    /* background-color: rgb(229, 182, 182); */
    
}

.features h4 {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.features-flex {
    display: flex;
    margin: 20px;
    margin-left: 0;
}

.flex1 {
    margin-right: 60px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 390px;
    padding: 20px;
}

.flex1 h5 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
    margin-top: 9px;
}
.icon {
    width: 20px;
    height: 20px;
}
.flex1 p {
    color: grey;
}

.comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1da1f2;
    padding: 20px;
}

.comments {
    display: flex;
    
}

.comment-section h3 {
    font-size: 2.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment1 {
    
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    height: 200px;
    
    
}

.comment2 {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
}

.comment2 p {
    font-size: 1.1rem;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.comment1 p {
    font-size: 1.1rem;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.tweet-user {
    display: flex;
    align-items: center;
    justify-content: center;
}



.name p {
    font-size: 0.6rem;
    margin-top: -20px;
}
.name{
    margin-left: 10px;
}

#tweet-logo {
    color: #1da1f2;
    margin-left: auto;
}

.like {
    display: flex;
}

.like p {
    margin-left: auto;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe h3 {
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subscribe p {
    font-size: 1.4rem;
    color: gray;
    
}

.price {
    width: 500px;
    height: 450px;
    border: 2px solid peru;
    border-radius: 5px;
    padding: 0 40px;
}

.price p {
    font-size: 1.4rem;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dollar {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.advantage1 {
    display: flex;
    margin: -10px;
    padding: -10px;
}
.advantage1 p {
    margin-left: 20px;
    font-size: 1.2rem;
}

#tweet-btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #1da1f2;
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: all 1s;
}

#tweet-btn:hover {
    background-color: transparent;
    border: 2px solid #1da1f2;
    transform: scale(1.01);
    color: #1da1f2;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 243, 243);
    justify-content: center;
    padding: 10px 20px;
    margin-top: 20px;
}



.footer-left {
    margin-left: auto;
}

#footer-tweet {
    margin-right: 10px;
}

.footer1 {
    display: flex;
    justify-content: center;
}

.footer1 h6 {
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #1da1f2;
}

.footer p {
    padding: 20px;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer2 {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .nav-items{
        display: none;
    }

    #sign-in {
        display: none;
    }

    #bar {
        margin-left: auto;
        display: flex;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        z-index: 1;
        top: 0;
        right: 0;
        position: fixed;
        background-color: #1da1f2;
        overflow-x: hidden;
        padding-top: 50px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      #main {
          transition: margin-left 5s;
      }

      #sign {
          display: block;
          background-color: black;
          color: white;
          margin-left: 32px;
          margin-top: 30px;
          height: 40px;
          border: none;
          border-radius: 5px;
          padding: 0px 10px;

      }

      .container {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          /* background-color: aqua; */
          height: 110vh;
          padding: 20px;

          
        
      }

      .item1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          
      }
      .item1 h2 {
          font-size: 1.2rem;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          
      }

      .item1 p {
          margin-top: 10px;
          font-size: 0.8rem;
          padding: 0 30px;
      }

      .item2 {
          
      }

     
      .item2 img {
          width: 17rem;
          margin-left: 0;  
      }

      .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .tweet {
        width: 40vh;
        height: 50px;
        background-color: #1da1f2;
        color: white;
        font-size: 0.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        border-radius: 5px;
        transition: all 1s;
      }

      .icon {
        width: 20px;
        height: 20px;
    }

      .tweet:hover {
          border: 2px solid #1da1f2;
          transform: scale(1.02);
          color: #1da1f2;
          background-color: transparent;
      }

      #learn-more {
          margin-top: 10px;
      }
      .features {
          padding: 0px 40px;
          justify-content: center;
          align-items: center;
          margin-top: 70px;
      }
      .features h4 {
          font-size: 1.3rem;
      }

      .features-flex {
          display: flex;
          flex-direction: column;
          margin: 0px;
          
      }

      .flex1 {
          margin: 10px;
          width: 250px;
          border: none;
      }

      .comments {
          display: flex;
          flex-direction: column;
      }

      .price {
        width: 230px;
        height: 400px;
        border: 2px solid peru;
        border-radius: 5px;
        padding: 0 40px;
    }

    .subscribe h3 {
        font-size: 1.7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .subscribe p {
        font-size: 0.8rem;
        color: gray;
        
    }

    #tweet-btn {
        font-size: 1.0rem;
    }
    .footer1 {
        display: flex;
        align-items: center;
        
    }

    .footer1 h6 {
        font-size: 1.0rem;
    }
    .footer1 p {
        font-size: 0.8rem;
    }

    .footer2 {
        font-size: 0.7rem;
    }

      
}

@media screen and (min-width:360px) and (max-width:375px)  {
        .container {
            height: 130vh;
        }
}


@media screen and (min-width:280px) and (max-width:281px) {
    .item2 img {
        width: 10rem;
    }

    .item2 {
        width: 10rem;
    }

    .flex1 {
        width: 210px;
        
    }

    .price {
        width: 180px;
        height: 350px;
        border: 2px solid peru;
        border-radius: 5px;
        padding: 0 40px;
    }

    .comment1 {
        width: 200px;
        height: 200px;
    }
    
    .comment2 {
        margin: 10px;
        width: 200px;
    }

    .subscribe h3 {
        font-size: 1.2rem;
    }

    .subscribe p {
        font-size: 0.6rem;
    }

    .footer1 {
        display: flex;
        align-items: center;
        
    }

    .footer1 h6 {
        font-size: 1.0rem;
    }
    .footer1 p {
        font-size: 0.6rem;
    }

    .footer2 {
        font-size: 0.5rem;
    }



    
}






@media screen and (min-width:750.75px) and (max-width:1050px) {
    .item1 h2 {
        font-size: 1.5rem;
    }
    .item1 p {
        margin-top: 20px;
    }

    .item2 img {
        width: 13rem;
        margin-left: 10px;
    }

    .item2 {
        margin-left: 0;
    }

    .container {
        padding: 0 20px;
        height: 80vh;
        
    }

    .people img {
        margin: -12px;
        /* border:  1px solid white; */
     }

     .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 90px;
        /* background-color: rgb(229, 182, 182); */
        
    }
    
    .features h4 {
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .features-flex {
        display: flex;
        margin: 20px;
        margin-left: 0;
    }
    
    .flex1 {
        margin-right: 30px;
        border: 2px solid grey;
        border-radius: 5px;
        width: auto;
        padding: 10px;
    }
    
    .flex1 h5 {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 1.0rem;
        margin-top: 9px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .flex1 p {
        color: grey;
    }

    .comment-section {
        padding: 0 40px;
    }

    .comment1 {
    
        background-color: aliceblue;
        padding: 30px;
        border-radius: 5px;
        margin: 5px;
        width: 180px;
        height: 210px;
        
        
    }
    
    .comment2 {
        background-color: aliceblue;
        padding: 20px;
        border-radius: 5px;
        margin: 5px;
        width: 200px;
    }
}

@media screen and (min-width:601px) and (max-width:749px) {
    .item1 h2 {
        font-size: 1.5rem;
    }
    .item1 p {
        margin-top: 20px;
    }

    .item2 img {
        width: 9rem;
        margin-left: 10px;
    }

    .item2 {
        margin-left: 0;
    }

    .container {
        padding: 0 0px;
        height: 80vh;
        
    }

    .people img {
        margin: -12px;
        /* border:  1px solid white; */
     }

     .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px;
        
        
    }
    
    .features h4 {
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .features-flex {
        display: flex;
        margin: 20px;
        margin-left: 0;
    }
    
    .flex1 {
            margin: 10px;
            width: 390px !important;
    }
    
    .flex1 h5 {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 1.0rem;
        margin-top: 9px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .flex1 p {
        color: grey;
    }

    

    .comments {
        display: flex;
        flex-direction: column;
    }
}
